body{
    background-image: url('./Abstract-Light-4K-Wallpaper-3840x2160.jpg');
    cursor: default;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }



  /*  ----------------------------Navbar----------------------------------------------*/
#mySidenav{
    width: 250px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
  
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    margin: auto;
    left: 0;
    background-color: #FF5733;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    display: inline-block;

}



#nav-button i {
    color: #fff;
    margin-left: 50px;
    margin-top: 30px;
    top: 0;
    position: relative;

}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
    margin: auto;
}

.sidenav a:hover {
    color: #85D694;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
@media screen and (max-height:550px) {
    #mySidenav{
        visibility: hidden;
    }
}

#image-box {
    width: 160px;
    height: 160px;
    margin: auto;

    border-radius: 50%;
    border: 2px solid #ffc107;
}

#image-box img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin: auto;
}

#userName {
    color: #fff;
    text-align: center;
    margin: 10px;
    font-family: 'Pattaya', sans-serif;

}

#links {
    margin-top: 80px;
}
#title{
    color: #fff;
}

#description{
    color: #ffff;
    text-align: justify;

}

#myimage-box {
    margin-top: 50px;
    margin-bottom: 50px;
}
#myimage-box h4{
    color: #CBD685;
}
#image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 2px solid #FF5733 ;
}
#image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    

}

/*----------------------------------------------------------------------------------*/

#myLanguages{
    width: 40px;
    height: 40px;
}
#java{
    width: 40px;
    height: 40px;
}
#html {

    width: 50px;
    height: 50px;
    color: orangered;
}


li{
    list-style: none;
    float: left;
    margin: 5px;
}

#social-media-title{

    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 5px;
}
.social-media li i{
    color: #fff;
}
.social-media li {
    margin-left: 10px;
    margin-top: 5px;
}