<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Karantina:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/cef350f31b.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <nav>
        <div id="nav-container" class="container">
            <div class="row">
                <div class="col-md-3" id="title">
                    <h1>Berat Yesbek</h1>
                </div>
                <div class="col-md-6">
                    <input id="search" type="text" placeholder="search"><a id="btn-search" class="btn btn-light"> <i
                            class="fas fa-search">Search</i></a>
                </div>
                <div class="col-md-3" id="account">
                    <ul>
                        <li>
                            <a class="btn btn-light login" href="#">Login</a>
                        </li>
                        <li>
                            <a class="btn btn-dark register" href="#">Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </nav>
    <div id="sidebar">
        <div class="toggle-btn" onclick="toggleSidebar(this)">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="list">
            <div class="item">Home</div>
            <div class="item">About us</div>
            <div class="item">Contact us</div>
        </div>
    </div>
    <div id="announcements">
        <h2>Announcements</h1>

            <div id="content-announcements">
                <ul>
                    <li>
                        <div id="announcements-item">
                            <a href="#">Lorem, ipsum dolor.</a>

                        </div>
                    </li>
                    <li>
                        <div id="announcements-item">
                            <a href="#">Lorem, ipsum dolor.</a>

                        </div>
                    </li>
                    <li>
                        <div id="announcements-item">
                            <a href="#">Lorem, ipsum dolor.</a>

                        </div>
                    </li>
                    <li>
                        <div id="announcements-item">
                            <a href="#">Lorem, ipsum dolor.</a>

                        </div>
                    </li>
                    <li>
                        <div id="announcements-item">
                            <a href="#">Lorem, ipsum dolor.</a>

                        </div>
                    </li>
                    <li>
                        <div id="announcements-item">
                            <a href="#">Lorem, ipsum dolor.</a>

                        </div>
                    </li>

                    <li>
                        <div id="announcements-item">
                            <a href="#">Lorem, ipsum dolor.</a>

                        </div>
                    </li>

                    

                </ul>
            </div>

    </div>

    <section id="" class="container">
        <ul>
            <li>
                <div id="box">
                    <div id="image-box">
                        <img src="https://yazilimcigenclik.com.tr/wp-content/uploads/2021/03/Bootstrap.jpg">
                    </div>
                    <div id="content-box">
                        <h1>Bootstrap</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem architecto officiis
                            praesentium magnam et inventore saepe accusantium voluptatem sit sunt.</p>
                        <span><i class="fas fa-calendar-day"></i>10/20/2021</span>
                    </div>
                </div>
            </li>

            <li>
                <div id="box">
                    <div id="image-box">
                        <img src="https://yazilimcigenclik.com.tr/wp-content/uploads/2021/03/Bootstrap.jpg">
                    </div>
                    <div id="content-box">
                        <h1>Bootstrap</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem architecto officiis
                            praesentium magnam et inventore saepe accusantium voluptatem sit sunt.</p>
                        <span><i class="fas fa-calendar-day"></i>10/20/2021</span>
                    </div>
                </div>
            </li>

            <li>
                <div id="box">
                    <div id="image-box">
                        <img src="https://yazilimcigenclik.com.tr/wp-content/uploads/2021/03/Bootstrap.jpg">
                    </div>
                    <div id="content-box">
                        <h1>Bootstrap</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem architecto officiis
                            praesentium magnam et inventore saepe accusantium voluptatem sit sunt.</p>
                        <span><i class="fas fa-calendar-day"></i>10/20/2021</span>
                    </div>
                </div>
            </li>
            <li>
                <div id="box">
                    <div id="image-box">
                        <img src="https://yazilimcigenclik.com.tr/wp-content/uploads/2021/03/Bootstrap.jpg">
                    </div>
                    <div id="content-box">
                        <h1>Bootstrap</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem architecto officiis
                            praesentium magnam et inventore saepe accusantium voluptatem sit sunt.</p>
                        <span><i class="fas fa-calendar-day"></i>10/20/2021</span>
                    </div>
                </div>
            </li>
        </ul>

    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6" id="social">
                    <h1 style="color:#fff;">
                        Social Media Accounts
                    </h1>
                    <ul>
                        <li>
                            <button class="btn btn-outline-light" href="#"><i
                                    class="fab fa-facebook-f fa-2x"></i></button>
                        </li>
                        <li>
                            <button class="btn btn-outline-light" href="#"><i
                                    class="fab fa-instagram fa-2x"></i></button>
                        </li>
                        <li>
                            <button class="btn btn-outline-light" href="#"><i class="fab fa-google fa-2x"></i></button>
                        </li>
                        <li>
                            <button class="btn btn-outline-light" href="#"><i class="fab fa-twitter fa-2x"></i></button>
                        </li>
                        <li>
                            <button class="btn btn-outline-light" href="#"><i class="fab fa-youtube fa-2x"></i></button>
                        </li>
                    </ul>
                </div>

                <div class="col-md-6" id="contact">
                    <h1 style="color: #fff;">Contact</h1>
                    <span style="color:#fff">
                        <h6 style="font-weight: 300;">Address</h6>Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Doloremque, laborum.
                    </span>
                </div>
            </div>


        </div>


    </footer>



    <script>
        function toggleSidebar(ref) {
            document.getElementById("sidebar").classList.toggle('active');
        }
    </script>

</body>

</html>