body{
    background-image: url('http://localhost/my_web_site/view/public/img/background.jpg');
    cursor: default;
}

.image {
    width: 550px;
    height: 300px;
    border: 5px solid #007bff;
    border-radius: 10px;
    margin: 15px;


}

.image img {
    width: 100%;
    height: 100%;

}

#title {
    margin: 15px;
    color: #ffc107;

}
.content-text{
    color: #fff;
}

.info li {
    float: left;
    list-style: none;
}
.tag {

    height: 30px;
    background-color: #007bff;
    border-radius: 5px;
    margin: 5px;



}
.tag p {
    text-align: center;
    color: #fff;
    padding: 5px;
}


