<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <title>Hello, world!</title>
</head>

<body>
    <h1 id="title">About me</h1>
    <div id="main" class="container">
        
        <div id="picture">
            <img src="./Untitled.png">
            <h1>Berat Yesbek</h1>
        </div>
        <div id="content">
            <div>
                <h3>Who I am</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate corrupti, iste voluptates a quisquam incidunt consequuntur consequatur ut cum cumque, porro animi placeat aspernatur excepturi? Nobis possimus voluptate cum odio? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores quisquam tempore quam, quibusdam ipsum ipsa, eveniet molestias harum saepe mollitia totam consectetur voluptatum sequi culpa, et fugit reiciendis sint nam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam culpa facilis odio error iusto deleniti nulla recusandae omnis. Debitis molestiae voluptatum labore corrupti, sapiente voluptate error impedit. Quisquam, cumque minus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit nemo modi sunt vel, accusantium voluptas perspiciatis tenetur dicta placeat quis suscipit facere, eveniet neque numquam debitis molestias quos dolores ipsam!</p>

            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>


</body>

</html>